.Loading {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.753);
  // the loader that animate applied to it
  .loader {
    border: 4px solid lightgray;
    border-bottom-color: transparent; // hide bottom border
    height: 40px;
    width: 40px; 
    border-radius: 50%; // make it rounded
    position: absolute;
    top: calc(50% - 20px);  // center it from the top
    left: calc(50% - 20px); // center it from the left 
    animation-name: Animate;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
  }
}

@keyframes Animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
