.Login {
  // the whole page styels
  height: 100%;
  overflow: hidden;
  display: flex;
  // the login form area styles
  .LoginForm {
    background-color: rgb(247, 247, 247);
    background: url('../../assets/BGs/interlaced.png');
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media (max-width: 500px) {
      background-color: white;
      width: 100%;
    }
  }
  // form
  .LoginForm form {
    background-color: white;
    box-shadow: var(--main-box-shadow);
    width: 350px;
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow-y: hidden;
    // form style in mobile device
    @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: none;
      border: none;
    }
  }
  // app logo
  form .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  form h2 {
    text-align: center;
  }
  // sign up with google button
  .googleLogin {
    border-radius: 10px !important;
    margin-top: 20px !important;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: black !important;
    box-shadow: none !important;
    border: 2px solid gray !important;
    font-family: inherit !important;
    div {
      border-radius: 20px !important;
    }
  }
  // seperator
  .seperator {
    // background-color: yellowgreen;
    text-align: center;
    line-height: 100%;
    &::before,
    &::after {
      content: '';
      height: 1px;
      width: 45%;
      display: inline-block;
      background-color: gray;
    }
  }
  // form footer
  form .formFooter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
    // forget password link
    .ForgetPassword {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      color: dodgerblue;
    }
    .signupLink {
      color: dodgerblue;
      margin-top: 10px;
    }
    // login btn
    button[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
  // social media links
  form .SocialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      font-size: 20px;
      margin: 10px;
      color: gray;
    }
  }
  // copy rights
  form .copyRight {
    color: gray;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  // the vector image area styles
  .VectorsArea {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 70%;
      width: 70%;
    }
    // the vector image styles on mobile device
    @media (max-width: 500px) {
      display: none;
    }
  }
}
