.DashBoard {
  display: grid;
  grid-template-columns: 60% 35%;
  grid-template-rows: auto auto;
  height: 100%;
  grid-column-gap: 5%;
  grid-row-gap: 20px;
  section {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.514);
    backdrop-filter: blur(0);
    border-radius: 10px;
  }
  
  .MainCard {
    padding: 30px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h6 {
      color: gray;
    }
    p.Balance {
      font-size: 30px;
      font-weight: bold;
      margin-top: 20px;
    }
    p.Account {
      margin-top: 20px;
    }
  }
  .Cards {
    background: none;
  }
}
