.Transactions {
  overflow-y: scroll;
  height: 400px;
  padding: 30px;
  width: 100%;
  background-color: var(--main-bg-color);
  box-shadow: var(--main-box-shadow);
  border-radius: 10px;
  position: relative;
  @media (max-width: 500px) {
    width: 100%;
    padding: 15px;
  }
  // sectionname
  .sectionname {
    color: var(--main-text-color);
    margin-bottom: 20px;
  }
  // transaction date
  .TransactionsDate {
    margin-top: 25px;
    color: var(--main-text-color);
  }
  // remove margin-top from the first child
  .TransactionsDate:first-child {
    margin-top: 0px;
  }
  // redesign the scrollbar track
  &::-webkit-scrollbar {
    width: 5px;
    position: absolute;
    right: 90px;
  }
  // scrollbar itself
  &::-webkit-scrollbar-thumb {
    background-color: var(--main-scrollbar-color);
  }
}
