.Profile {
  position: relative;
  height: 100%;
  .container {
    // background-color: rgba(255, 255, 255, 0.795);
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    // width: ;
  }
  .header {
    background-color: rgba(255, 255, 0, 0.301);
    // height: 50px;
    width: 100%;
  }
  .sideBar {
    background-color: rgba(255, 255, 255, 0.37);
    width: 20%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    .user {
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.349);
      gap: 10px;
      border-radius: 10px;
      padding: 5px;
      // padding: 0 20px;
      // img
      .avatar {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: chartreuse;
        border-radius: 50%;
      }
    }
    // nav links
    .navLinks {
      li {
        margin: 10px 0;
        background-color: rgba(255, 255, 255, 0.37);
        padding: 5px;
        border-radius: 10px;
      }
    }
  }
  .mainArea {
    // width: 0%;
    background-color: rgba(255, 255, 255, 0.37);
    flex-grow: 1;
    border-radius: 10px;
    // background-color: rgba(255, 0, 0, 0.322);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .SignOut_Btn {
    position: absolute;
    bottom: 0px;
    background: none;
    border: none;
    right: 20px;
    background-color: red;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
  }
}
