.Home {
  height: 100%;
  background-color: var(--main-bg-color);
  padding: 5px;
  display: flex;
  overflow: hidden;
  gap: 10px;
  @media (max-width: 500px) {
    flex-direction: column;
    padding: 0;
  }
  .RoutesArea {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex-grow: 1;
    background-color: var(--alt-bg-color);
    padding: 10px 50px;
    overflow-y: hidden;
    @media (max-width: 500px) {
      box-shadow: none;
      padding: 0 25px;
      overflow-y: scroll;
    }
    // margin: 10px;
  }
}
