.MakeTransaction {
  padding: 10px;
  display: flex;
  height: 220px;
  flex-direction: column;
  background-color: var(--main-bg-color);
  box-shadow: var(--main-box-shadow);
  border-radius: 10px;
  width: 100% !important;
  @media (max-width: 500px) {
    display: none;
  }
  // section name Quick Transfer
  .sectionName {
    color: var(--main-text-color);
  }
  // the styles of the section that user can select transfer type
  .transferTypesContainer {
    display: flex;
    max-height: 40px;
    min-height: 40px;
    font-size: .8rem;
    align-items: center;
    background-color: var(alt-bg-color);
    border: var(--main-border);
    border-radius: 10px;
    padding: 2px;
    // Single Transfer type
    li {
      flex-grow: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      text-align: center;
      border-radius: 10px;
      color: var(--main-text-color);
      &[data-active="true"] {
        background-color: var(--primarybtn-main-color);
        color: white;
      }
      // First Transfer Type
      // &:first-child {
      //   background-color: dodgerblue;
      //   margin-right: 10px;
      //   color: white;
      // }
    }
  }
  // transfer money Btn
  .transferBtn {
    border: none;
    background-color: var(--main-green-color);
    color: white;
    border-radius: 7px;
    padding: 10px 0;
    cursor: pointer;
    // btn disabled
    &:disabled {
      cursor: not-allowed;
      background-color: var(--alt-green-color);
    }
  }
}
