.inComeTransAlert {
  width: 300px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.507);
  border-radius: 10px;
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 2;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 0 5px 2px lightgray;
  gap: 10px;
  @media (max-width: 500px) {
    width: 95%;
    // right: 50%;
    // transform: translateX(50%);
  }
  // avatar
  .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: cadetblue;
  }
  .container {
    flex-grow: 1;
  }
  // sender
  .sender {
    color: black;
  }
  // date
  .date {
    color: dodgerblue;
  }
  // amount
  .amount {
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
