.sendMoneyMobile {
  width: 95%;
  height: 158px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 4;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  flex-direction: column;
  // section name
  p {
    color: var(--main-text-color);
    text-align: center;
    padding-bottom: 10px;
  }
  .inputArea {
    display: flex;
    flex-direction: column;
    gap: 10px;
    button {
      border: none;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 44px;
      color: white;
      background-color: #54B435;
    }
    input {
      border: var(--main-border);
      height: 44px;
      flex-grow: 1;
      border-radius: 10px;
      background-color: var(--main-bg-color);
      padding: 0 20px;
    }
  }
}
