@mixin navLinksMobileStyles {
  @media (max-width: 500px) {
    position: absolute;
    left: 0;
    top: var(--mobile-navbar-height);
    z-index: 3;
    width: 100%;
    height: 0;
    &[data-menu-open="true"] {
      background-color: var(--main-bg-color);
      height: initial;
      padding: 25px;
      border-bottom: 1px solid lightgray;
    }
    overflow-y: hidden;
  }
}

@mixin navLinksUlMobileStyles {
  @media (max-width: 500px) {
    margin-top: 0px;
  }
}

.navLinks {
  // mobile styles
  @include navLinksMobileStyles();
  ul {
    @include navLinksUlMobileStyles();
    margin-top: 40px;
    margin-left: -15px;
  }
  li {
    margin: 10px 0;
    padding: 5px 15px;
    border-left: 3px solid transparent;
    transition: all 0.01s ease-in-out;
    a {
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
      }
    }
  }
}
