.navLinks {
  @media (max-width: 500px) {
    transition: all 0.8s ease-in-out;
    position: absolute;
    left: 0;
    top: 57px;
    z-index: 3;
    background-color: #f7f7f7;
    width: 100%;
    padding: 0 25px;
    height: 0;
    overflow-y: hidden;
  }
  ul {
    margin-top: 40px;
    margin-left: -15px;
  }
  li {
    margin: 10px 0;
    padding: 5px 15px;
    border-left: 3px solid transparent;
    transition: all 0.01s ease-in-out;
    a {
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
      }
    }
  }
}
