@import "./accountcard.mobile.scss";
.accountCard {
  padding: 30px;
  width: 100% !important;
  display: flex;
  height: 200px;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-bg-color);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  color: var(--main-text-color);
  box-shadow: var(--main-box-shadow);
  // mobile styles
  @include accountCardMobileStyles();
  // account balance
  p.Balance {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: green;
  }
  // account number
  p.Account {
    margin-top: 20px;
    @include accountMobileStyles();
  }
  // send money btn on mobile
  .sendMoneyBtn {
    @include sendMoneyBtn();
  }
}
