// send money btn
@mixin sendMoneyBtn {
  display: none;
  align-items: center;
  justify-content: flex-end;
  @media (max-width: 500px) {
    display: flex;
  }
}

// styles of account card on mobile devices
@mixin accountCardMobileStyles {
  @media (max-width: 500px) {
    position: relative;
    width: 100% !important;
    box-shadow: var(--main-box-shadow);
    height: 176px;
  }
}
