.NavBar {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 5px 10px;
  position: relative;
  @media (max-width: 500px) {
    display: none !important;
  }
  .AppCenter {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    li {
      margin: 0 5px;
      display: flex;
      align-items: center;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      a {
        display: flex;
        align-items: center;
        padding: 0 5px;
      }
    }
  }
}
