.NavBar {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 10px;
  position: relative;
  // hide desktop navbar on mobile
  @media (max-width: 500px) {
    display: none !important;
  }
  // navbar tools
  .AppCenter {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    // indvisual tool
    li {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}
