.Loading {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  // the loader that animate applied to it
  .loader {
    border: 2px solid dodgerblue;
    border-bottom-color: transparent; // hide bottom border
    height: 40px;
    width: 40px;
    border-radius: 50%; // make it rounded
    position: absolute;
    top: calc(50% - 20px); // center it from the top
    left: calc(50% - 20px); // center it from the left
    animation: Animate 0.8s infinite linear;
  }
}

@keyframes Animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
