.SideBar {
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 3px 2px lightgray;
  border-radius: 10px;
  padding: 20px 20px;
  position: relative;
  ul {
    margin-top: 40px;
    margin-left: -15px;
  }
  li {
    margin: 10px 0;
    padding: 5px 15px;
    border-left: 3px solid transparent;
    transition: all 0.01s ease-in-out;
    a {
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
      }
    }
  }
  .profile {
    position: absolute;
    bottom: 30px;
    background-color: white;
    box-shadow: 0 0 5px 2px lightgray;
    height: 60px;
    width: 80%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 0px 20px;
    h4 {
      display: flex;
      align-items: center;
      span {
        margin-right: 10px;
      }
    }
    .img {
      height: 35px;
      min-width: 35px;
      border-radius: 50%;
      background-color: yellow;
      margin-right: 10px;
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
  }
}
