.notification {
  // padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  // avatar
  .avatar {
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    background-color: dodgerblue;
  }
}
