.receviershistory {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  overflow-y: scroll;
  // beneficiaries
  .recentBeneficiaries {
    margin-bottom: 1rem;
  }
  // redesign the scrollbar track
  &::-webkit-scrollbar {
    width: 3px;
    position: absolute;
    left: 90px;
  }
  // scrollbar itself
  &::-webkit-scrollbar-thumb {
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
  }
  .nodata {
    color: gray;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
