.receviershistory {
  // background-color: var(--main-bg-color);
  // box-shadow: var(--main-box-shadow);
  // border-radius: 10px;
  padding: 5px 0;
  display: flex;
  gap: 10px;
  position: relative;
  overflow-x: scroll;
  width: 100%;
  // section title
  .recentBeneficiaries {
    margin-bottom: 1rem;
    color: var(--main-text-color);
    display: none;
    // styles on mobile devices
    @media (max-width: 500px) {
      display: block;
    }
  }
  // redesign the scrollbar track
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    position: absolute;
    left: 90px;
  }
  // scrollbar itself
  &::-webkit-scrollbar-thumb {
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
  }
  .nodata {
    color: gray;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
