.singleTransaction {
  display: flex;
  align-items: center;
  margin: 10px 0;
  background-color: rgb(245, 245, 245);
  padding: 5px 10px;
  border-radius: 10px;
  // the image
  .img {
    height: 40px;
    width: 40px;
    background-color: greenyellow;
    margin-right: 20px;
    border-radius: 10px;
  }
  // transaction details container
  .container {
    flex-grow: 1;
    // trans discription
    .discription {
      color: gray;
      font-size: 0.9rem;
    }
  }
}
