.signUp {
  height: 100%;
  overflow: hidden;
  display: flex;
  // the whole signup screen styles on mobile
  @media (max-width: 500px) {
    background-color: white;
  }
  // form container
  .signUpForm {
    background-color: rgb(247, 247, 247);
    background: url('../../assets/BGs/interlaced.png');
    // styles on moblie
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    @media (max-width: 500px) {
      background-color: white;
      width: 100%;
    }
  }
  // form
  .signUpForm form {
    // hide form scroll bar
    &::-webkit-scrollbar {
      display: none;
    }
    // main form styles
    box-shadow: var(--main-box-shadow);
    width: 350px;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    // color: black;
    position: relative;
    h2 {
      text-align: center;
    }
    // styles on mobile devices
    @media (max-width: 500px) {
      box-shadow: none;
    }
    // sign up with google button
    .googleLogin {
      border-radius: 10px !important;
      width: 100% !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      color: black !important;
      box-shadow: none !important;
      border: 2px solid gray !important;
      font-family: inherit !important;
      div {
        border-radius: 20px !important;
      }
    }
    // seperator
    .seperator {
      // background-color: yellowgreen;
      text-align: center;
      color: rgba(128, 128, 128, 0.5);
      line-height: 100%;
      font-size: 0.7rem;
      &::before,
      &::after {
        content: '';
        height: 1px;
        width: 48%;
        display: inline-block;
        background-color: rgba(128, 128, 128, 0.5);
      }
    }
  }
  // form footer
  form .formFooter {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
    // style sign up button when disable it
    button[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  // social links
  form .SocialMedia {
    margin-top: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    a {
      display: inline-block;
      font-size: 20px;
      color: gray;
    }
  }
  // copy rights
  form .copyRight {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  // vector area
  .VectorsArea {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // styles on mobile device
    @media (max-width: 500px) {
      display: none;
    }
    img {
      height: 70%;
      width: 70%;
    }
  }
}
