@import "./_variables.css";

@font-face {
  font-family: "SF Pro Text";
  src: url("./assets/sf_semi/SFProText-Semibold.woff"),
    url("./assets/sf_semi/SFProText-Semibold.woff2");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "SF Pro Text", "Roboto", "Oxygen", "Ubuntu", "Cantarell" ,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
