@font-face {
  font-family: "Arabic UI Text";
  src: url("./assets/sf_web/sfprotext-medium-webfont.woff"),
    url("./assets/sf_web/sfprotext-medium-webfont.woff2");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "Arabic UI Text", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
